$sides-padding: 10px;

.justify-content-between {
  padding-left: $sides-padding;
  padding-right: $sides-padding;
}

.navbar {
  height: 5rem;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1;
}